@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni&family=Nanum+Myeongjo&family=Roboto:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni&family=Roboto:wght@100&display=swap');

 .bodyIndex,.bodyExcursiones,.bodyHoteles,.bodyConsejos,.bodyContacto{
    margin:0;
    padding:0;
    line-height: 2rem;}



    h1,h2,h3,h4,h5{
        font-family: 'Nanum Myeongjo', serif;

    }

    ul ol{
        font-family: 'Roboto', sans-serif;}

    p{
        font-size: 20px;
        color: rgb(24, 24, 24);
        font-family: sans-serif;
        }


    footer{font-family:sans-serif;}









 /* HEADER */


.navModificado{
    font-size: 1.3rem;
    margin-right: 5rem;
}



.egiptoModificacion::first-letter{
    color: #f8c300;
    margin-left: 2rem;


}
.egiptoModificacion{
    font-size:2rem;
    font-weight: bold;
}

.activoSesionModificacion{
    border-bottom: 3px solid #f8c300;
    color: black;
}

.logoModificacion{
    margin-left: 1rem;
}


.encabezadoH1{
    font-weight: bold;
    font-family: sans-serif;
}

.encabezadoBack{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../imagenes/imagen-encabezado.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.encabezadoContenido{
    margin-top: 12rem;
}

.encabezadoPH1{
    color: #f8c300;
    font-weight:bold;}

.encabezadoBtnViajar{
    background-color: #f8c300;
    border-radius:0rem;
    transition: all 1ms;
}

.encabezadoBtnViajar:hover{
    background-color: #F69F00;
}

.encabezadoBtnViajar:focus{
    background-color: #F69F00;
}

.encabezadoBtnHoteles{
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 0rem;
    color: white;
    border: none;
    transition: all 1s;
}

.botonAencabe{
    text-decoration: none;
}



/* HEADER */








































/* GRILLA MAIN INDEX */



.section1Index{
    margin-top: 15rem;
   margin-bottom: 10rem;

}


 .section2Index{
    margin-top: 5rem;}

 .section3Index{
    text-align: justify;}

 .section4Index{
    text-align: justify;}

 .section5Index{
    text-align: justify;
    margin-top: 10rem;
    margin-bottom: 10rem;
    }



 .section7Index{
    margin-bottom: 10rem;
    margin-top: 10rem;
    padding-top: 5rem;
    padding-bottom: 5rem;}


.section7Index h2 {
    font-size: 4rem;
}

.section7Index iframe{
    width: 90%;
    margin-left: 5%;
}

/* GRILLA MAIN INDEX */





















/* GRILLA MAIN EXCURSIONES*/



.section1Excursiones{
    margin-top: 15rem;
    margin-bottom:15rem;
}

.section2Excursiones{
    gap: 0.3rem;

}

.section3Excursiones{

    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.section3Excursiones div{
    width: 50%;
}

.section3Excursiones div h2{
    font-size:calc(2rem + 1vw);
}


.excursionesLista .card-body{
    transition: all 1s;}

.excursionesLista div .card-body:hover{
    box-shadow: 0px 10px 10px black;
    cursor: pointer;
}

.excursionesLista div div .btn-primary{
    background-color: black;
    border: #1a262c;
    transition: all 1s;
}

.excursionesLista div .card-body:hover .btn-primary{
background-color:#f8c300;
    color:#1a262c;
    cursor: pointer;}






/* GRILLA MAIN EXCURSIONES*/








































/* GRILLA MAIN HOTELES*/

 .section1Hoteles img{
    width: 50vw;
    height: 100vh;
    margin: auto;
}

 .section1Hoteles div{
    width: 35rem;
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.section1Hoteles h2{
    width: 80%;
    margin: auto;
}

.section1Hoteles p {
    width: 80%;
    margin: auto;
    font-size: clas(1rem + 1vw);
}

.section2Hoteles{
    margin-top:10rem;
    margin-bottom: 10rem;
    padding: 2rem;
}



.hotelesListado{
    width: 90%;
    margin: auto;
    border: 1px rgba(0,0,0 ,0.3) solid;
    transition: all 1s;

}


.hotelesListado button{
    width: 100%;
    border: none;

}

.btn-primary{
    border: #1a262c;
    transition: all 1s;
}




.hotelesListado:hover {
    box-shadow: 0px 10px 10px black;
    cursor: pointer;}



.hotelesBtnVer{
    border-radius: 0%;
    background-color: black;
    transition: all 1s;
}

.hotelesListado:hover .hotelesBtnVer{
    background-color: #f8c300;
    color: black;
}




/* GRILLA MAIN HOTELES*/





























/* GRILLA MAIN CONSEJOS*/



.fuenteConBold{
    font-weight: bold;
}


.section1Consejos{
    width: 90%;
    margin-top: 15%;

}

.section2Consejos{
    margin-top: 20rem;
    margin-bottom: 20rem;
}

.consejosListado{
    text-align: justify;
}

.anchoConsejoListado{

    width: 90%;

}



/* GRILLA MAIN CONSEJOS*/

























/* GRILLA MAIN CONTACTO*/





 .section1Contacto{


    margin-top: 10rem;
    width: 90vw;
    margin: auto;

}



.section2Contacto{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
}


.section2Contacto img{
    margin: auto;

}

.section2Contacto div{
    margin: auto;
    width: 50%;

}




input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; }

input[type=submit] {
    width: 100%;
    background-color:black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    transition: all 1s;}

input[type=submit]:hover {
    background-color:#f8c300;
    color: black;}

input[type=email]{

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;}

 input[type=text]:focus {
    border: 3px solid #555; }

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;}
 /* seccion1



/* GRILLA MAIN CONTACTO*/










@media (max-width:768px){



/* MEDIA INDEX GRILLA */



    .section6Index img{
        width: 300px;
        height: 200px;

    }



/* MEDIA INDEX GRILLA */




 /* MEDIA EXCURSIONES GRILLA */



     body > main > section.section2Excursiones > img:nth-child(2){
        display: none;
    }

    body > main > section.section2Excursiones > img:nth-child(3){
        display: none;
    }

    .section4Excursiones .excursionesLista p {
        display: none;
    }
 /* MEDIA EXCURSIONES GRILLA */

    body > main > section.section1Hoteles > img{
        display: none;
    }


/* MOBILE CONTACTO */

body > main > section.section2Contacto.d-flex.flex-wrap.justify-content-between.bg-black > img{
    display: none;
}





}


/* FIN MEDIA QUERY */

















 /* FOOTER */


.borderTopFooter{
    border-top:#f8c300 3px solid;
}

.separacionItemsFooter{
    margin-left: 1rem;
    margin-right: 1rem;
}

 /* FOOTER */