
$mapRedes:(facebook:blue, instagram:violet);

@each $redSocial, $color in $mapRedes {
    .#{$redSocial}{
        color:$color;
    }

    
}

$estilo:(bordeCaja:1px solid #6c757d, tipoFuente:bold, paddinCaja:0.5rem, hoverCaja:black);

.estiloFaceInsta{
    border:map-get($map: $estilo, $key: bordeCaja );
    font-weight: map-get($map: $estilo, $key: tipoFuente );
    padding: map-get($map: $estilo, $key:paddinCaja );
    &:hover{
        color: map-get($map: $estilo, $key:hoverCaja );
        transition: all 1s;
    }
}

